<!-- BASE HTML PAGE TEMPLATE -->

<!-- This template is an HTML text file defining the structure or layout of future files, with placeholders used to represent actual content during client interaction with the site. -->
{% load static %}
<!-- Always needs to be included when using static references to static files. This tag allows you to use the static template tag to reference static files.-->
<!--When Django serves static files during development, it uses the STATIC_URL to determine the base URL, and it searches for static files within each app's static directory as well as any additional directories specified in STATICFILES_DIRS-->

<!DOCTYPE html>
<html lang="en">
    {% block Head %}<!--BLOCK PLACEHOLDER named 'Head' -- for template formatting+content substitution -->
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            {% block Styling %}<!--BLOCK PLACEHOLDER named 'Styling' -- for css or other formatting -->
                <script src="https://cdn.tailwindcss.com"></script> 
                <!-- Tailwind CSS classes for styling content-->
                
                <link rel="stylesheet" type="text/css" href="{% static 'css/BaseStyle.css' %}">
            {% endblock %}
            {% block Extra_Styling %}<!--BLOCK PLACEHOLDER named 'Extra_Styling' -- for more css/other formatting -->
                
                
            {% endblock %}

            <title>{% block title %}{% endblock %} | Tallies</title><!--BLOCK PLACEHOLDER named 'title'-->
            
        </head>
    {% endblock %}

    {% block Body %}<!--BLOCK PLACEHOLDER named 'Body' -- for template formatting+content substitution -->
        <body class="container">
            <nav id="Navigation" class="flex justify-between items-center ">

                <div id="Logo_Greeting_Block" class="py-6 flex flex-row justify-between items-center ">
                    <div id="Pic_Container">
                        <a href="{% url 'blog:explore' %}"><img id="LOGO"  src="{% static 'tally.png' %}" alt="Tally Logo NUMBER 2"></a>
                        
                    </div>
                    <div>
                        {% if request.user.is_authenticated %} <!--Display a Customized Greeting for users-->
                        <p class=" font-semibold text-white ">
                            Welcome to Tallies, {{request.user.username}}
                        </p>

                        {% else %} <!--Display a Default Greeting-->
                        <p class="text-xl text-white font-semibold ">
                            Welcome to Tallies
                        </p>
                        {% endif %}
                        
                    </div>
                    
                </div>
                
                {% if request.user.is_authenticated %}  <!--Check if user is logged in-->

                    <div class="space-x-6">
                        {% block Xtra_Button1 %} <!--option to add an extra button; BLOCK PLACEHOLDER named 'Xtra_Button1'-->
                            <a href="{% url 'blog:home' %}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">Home</a><!-- Use the current defined URL. Then, using the blog.urls.py and within the urlpatterns list, make a call to the URL pattern named 'home'. A view from blog.views.py will then be forced to run-->
                        {% endblock %}  

                        {% block Xtra_Button2 %}{% endblock %}  <!--option to add an extra button; BLOCK PLACEHOLDER named 'Xtra_Button'-->
                            <a href="{% url 'core:logout' %}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">Tally Out</a><!-- Using the core.urls.py and within the urlpatterns list, make a call to the URL pattern named 'logout'. The specified views function will then be forced to run -->
                    </div>
                {% endif %}

            </nav>

            <!-- MAIN CONTENT -->
            
            <div id="Content" class="px-6 py-6 bg-gray-100 rounded-xl w-full">
                
                {% block content %}<!--BLOCK PLACEHOLDER named 'content'-->
                {% endblock %}
            </div>


            <!-- FOOTER CONTENT -->
            <footer class="py-6 px-6 flex justify-between bg-gray-800 w-full">
                <div class="w-2/3 pr-10"> <!--About Description-->
                    <h3 class="mb-5 font-semibold text-gray-400">About</h3>

                    <p class="text-lg text-gray-500"> Increase Your Tallie Count. On Your Mark... Get Set... GO!!! </p>
                </div>

                <div class="w-1/3">
                    <h3 class="mb-5 font-semibold text-gray-400">Menu</h3>

                    <ul class="space-y-2"> <!--Add links to Different Pages-->
                        <li><a href="{% url 'core:About' %}" class="text-lg text-teal-500 hover:text-teal-700">About</a></li>
                        <li><a href="{% url 'core:Contact' %}" class="text-lg text-teal-500 hover:text-teal-700">Contact</a></li>
                        <li><a href="{% url 'core:Privacy' %}" class="text-lg text-teal-500 hover:text-teal-700">Privacy Policy</a></li>
                        <li><a href="{% url 'core:Privacy' %}" class="text-lg text-teal-500 hover:text-teal-700">Term of Service</a></li>
                    </ul>
                </div>
            </footer>

            {% block Script_Content %}<!--Script BLOCK PLACEHOLDER named 'Script_Content'-->
                <script> // BASE SCRIPTS
                    // testing: adding javascript code
                    // const container = document.querySelector('.container'); //link this constant to the container div in the html        
                    // console.log(container)
                    
                </script>
            {% endblock %}

            
        </body>
    {% endblock %}
</html>
