<!-- Show the TERMS html page -->

<!-- Relies on base.html foundations and substitutes the block content -->

{% extends 'core/base.html' %} <!--import the base.html code-->

{% block title %}Terms{% endblock %} <!--Change the title of the page-->

{% block content %} <!--PLACEHOLDER SUBSTITUTION FOR 'content' BLOCK-->
    <h2 class="text-2xl text-center">Terms of Service: </h2>
    <div class="w-3/4 my-6 mx-auto p-6 bg-gray-100 rounded-xl">

        <p><strong>Welcome</strong> to "Tallies", a social networking platform where users can share their thoughts, connect with friends, and discover new interests. These Terms of Service govern your use of the Tallies platform and its services, so please read them carefully before using our app.
        </p>
    
        <h3 class="text-lg font-semibold mt-6 mb-2 ">1. User Conduct</h3>
    
        <p>You agree to use Tallies responsibly and in compliance with all applicable laws and regulations. You are solely responsible for the content you post, including but not limited to text, images, and links.</p>
    
        <h3 class="text-lg font-semibold mt-6 mb-2">2. Account Registration</h3>
    
        <p>To use certain features of Tallies, you may need to create an account. You agree to provide accurate and complete information during the registration process and to keep your account credentials confidential.</p>
    
        <h3 class="text-lg font-semibold mt-6 mb-2">3. Content Ownership</h3>
    
        <p>You retain ownership of the content you post on Tallies. By posting content, you grant us a non-exclusive, worldwide, royalty-free license to use, reproduce, and distribute your content for the purposes of operating and promoting Tallies</p>
    
        <h3 class="text-lg font-semibold mt-6 mb-2">4. Privacy</h3>
    
        <p>Your privacy is important to us. Please review our Privacy Policy to understand how we collect, use, and disclose your personal information.</p>
    
        <h3 class="text-lg font-semibold mt-6 mb-2">5. Termination</h3>
    
        <p>We reserve the right to suspend or terminate your access to Tallies at any time, with or without cause, and without prior notice. Upon termination, your account and all associated content may be deleted.</p>
    
        <h3 class="text-lg font-semibold mt-6 mb-2">Thank you for using Tallies! We hope you enjoy your experience on our platform.</h3>
    
    </div>
    
{% endblock %}